* {
  margin: 0;
  padding: 0;
}
a,
li {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: ubuntu, Tahoma;
  color: #e5e5e5;
  font-size: 16px;
  background: url(../img/bg.jpg) fixed;
}
.main-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 14px;
}
.header-con {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
}
.header-title {
  font-family: Play;
  text-align: center;
  padding: 12px 0;
  margin-top: 14px;
  border: 1px solid #21394e;
  background: #02060d;
  box-sizing: border-box;
}
.header-img {
  display: block;
  width: 100%;
  margin-top: 14px;
  border: 1px solid #21394e;
  background: #02060d;
  box-sizing: border-box;
}
.header-text {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 50%;
  padding: 6px;
  background: hsla(0, 0%, 5%, 0.555);
}
.content-con {
  display: flex;
  min-height: 1200px;
  margin-top: 14px;
  border: 1px solid #21394e;
  background: #02060d;
  box-sizing: border-box;
}
.content-grid {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 230px 1fr 230px;
  grid-template-rows: 58px 1fr;
}
.left-con {
  grid-area: 1 / 1 / 3 / 1;
  border: 1px solid red;
  box-sizing: border-box;
}
.content {
  grid-area: 1 / 2 / 3 / 3;
  border: 1px solid blue;
  box-sizing: border-box;
}
.right-con {
  grid-area: 1 / 3 / 3 / 4;
  border: 1px solid green;
  box-sizing: border-box;
}
.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.menu-header {
  display: flex;
  align-items: center;
  width: 220px;
  margin-top: 14px;
  height: 44px;
  border: 1px solid #21394e;
  box-sizing: border-box;
  font-family: Play;
  font-size: 18px;
  font-weight: 700;
}
.menu-header-left {
  padding-left: 14px;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
}
.menu-header-right {
  flex-direction: row-reverse;
  margin-left: 7px;
  padding-right: 14px;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
}
.right-menu-nav {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 7px;
}
.left-menu-nav {
  padding: 0 0 0 14px;
}
.menu-link {
  display: block;
  margin-top: 7px;
  width: 206px;
  padding: 12px 0;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #e5e5e5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: radial-gradient(
    0% 50% at 50% 50%,
    #6d91d0 0%,
    rgba(33, 57, 78, 0.43) 100%
  );
  mix-blend-mode: normal;
  border: 1px solid #21394e;
}
.menu-link:hover {
  border: 1px solid #084977;
  background-color: #084977;
  box-shadow: 0 0 3px #084977;
}
.footer-con {
  margin: 14px 0;
  border: 1px solid #21394e;
  background: #02060d;
  box-sizing: border-box;
  padding: 14px;
  font-family: Play;
}
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top p {
  font-size: 15px;
  text-align: center;
}
.footer-top a {
  font-weight: 700;
  font-size: 18px;
  color: #cecece;
  margin-top: 8px;
}
.footer-top a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.footer-bottom a {
  font-weight: 700;
  font-size: 18px;
  color: #cecece;
}
.footer-bottom img {
  display: block;
}
