@media only screen and (max-width: 1080px) {
  .right-con {
    grid-area: 1 / 2 / 2 / 4;
  }
  .content {
    grid-area: 2 / 2 / 3 / 4;
  }
  .left-menu-nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-text {
    position: static;
    width: 100%;
    margin-top: 14px;
    padding: 7px;
    border: 1px solid #21394e;
    background: #02060d;
    box-sizing: border-box;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom img {
    margin-top: 8px;
  }
  .footer-bottom p {
    margin-top: 10px;
    text-align: center;
  }
  .footer-bottom a {
    margin-top: 10px;
  }
}
