@media only screen and (max-width: 1080px) {
  .content-grid {
    grid-template-columns: 230px 1fr 14px;
  }
  .right-menu-nav {
    display: none;
  }
  .menu-header-right {
    width: 130px;
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header-text {
    position: static;
    width: 100%;
    margin-top: 14px;
    padding: 7px;
    border: 1px solid #21394e;
    background: #02060d;
    box-sizing: border-box;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom img {
    margin-top: 8px;
  }
  .footer-bottom p {
    margin-top: 10px;
    text-align: center;
  }
  .footer-bottom a {
    margin-top: 10px;
  }
  .content-grid {
    grid-template-columns: 14px 1fr 14px;
  }
  .left-menu-nav {
    display: none;
  }
  .menu-header-left {
    width: 130px;
    position: absolute;
    left: 0;
    top: -7px;
  }
  .menu-header-right {
    top: -7px;
  }
  .top-bar {
    grid-area: 1 / 1 / 2 / 4;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #21394e;
    background: #02060d;
  }
  .content {
    grid-area: 2 / 2 / 3 / 3;
  }
  .menu {
    top: 0;
  }
}
